PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=appointments

JWT_ACCESS_SECRET=adi-appointments-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=adi-appointments-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10
